@media (min-width:700px) and (max-width:830px) {

    .title {
        text-align: center;
        margin: 30px 10%;
    }
    .ring {
        position: static;
        width: 100%;
        border-radius: 0px;
        margin: 0;
    }
    .text {
        margin: 0;
        padding: 0.5% 15%;
        text-align: justify;
    }
    .gallery-title{
        text-align: center;
        margin: 5% 15%;
    }
    .gallery {
        margin: -1% 13% -3% 13%;
        height: auto;
    }
    .gallery2 {
        margin: -1% 13% -3% 13%;
        height: auto;
    }
    .gallery3 {
        margin: -1% 13% -3% 13%;
        height: auto;
    }
    .gallery4 {
        margin: -1% 13% -3% 13%;
        height: auto;
    }
    .gallery5 {
        margin: -1% 13% -3% 13%;
        height: auto;
    }
    .gallery6 {
        margin: -1% 13% 7% 113%;
        height: auto;
    }
    .gallery-image1 {
        height: 100%;
    }
    .gallery-image2 {
        margin-right: 0;
        margin-top: 10%;
        height: 100%;
    }
    .footer-text {
        text-align: center;
    }

}


@media (min-width:830px) and (max-width:1300px) {
    .title {
        text-align: center;
        margin: 30px 10%;
    }
    .ring {
        position: static;
        width: 100%;
        border-radius: 0px;
        margin: 0;
    }
    .text {
        margin: 0;
        padding: 0.5% 15%;
        text-align: justify;
    }
    .gallery-title{
        text-align: center;
        margin: 5% 15%;
    }
    .gallery {
        margin: 4% 20% 0 20%;
     height: auto   
    }
    .gallery2 {
        margin: -2% 20% 0 20%;
        height: auto
    }
    .gallery3 {
        margin: -2% 20% 0 20%;
        height: auto
    }
    .gallery4 {
        margin: -2% 20% 0 20%;
        height: auto
    }
    .gallery5 {
        margin: -2% 20% 0 20%;
        height: auto
    }
    .gallery6 {
        margin: -2% 20% 0 20%;
        height: auto;
    }
    .gallery-image1 {
        height: 100%;
    }
    .gallery-image2 {
        margin-right: 0;
        margin-top: 10%;
        height: 100%;
    }
    .footer-text {
        text-align: center;
    }
}